.profil-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.log-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
}

.connection-form {
  text-align: center;
}

.ul_profil {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  cursor: pointer;
  padding: 10px 20px;
}

li.active-btn {
  color: #fff;
  background-color: #333;
  border-radius: 5px 5px 0 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles pour les messages d'erreur */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Styles pour les liens */
/* a {
  color: #333;
  text-decoration: underline;
} */