/* Style de base de la navbar */
.navbar {
    background-color: rgb(55, 31, 31);
    padding: 20px; /* Réduit la taille de la barre de navigation pour les petits écrans */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: red;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar .menu {
    display: none;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
}

.nav-container ul li {
    margin: 0 15px; /* Réduit l'espace entre les éléments de la liste pour les petits écrans */
}

/* Media query pour les écrans plus petits */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Change la direction de la navbar pour les petits écrans */
        padding: 10px; /* Réduit davantage la taille de la barre de navigation */
    }

 
    .nav-container ul {
        flex-direction: column; /* Change la direction de la liste pour les petits écrans */
        text-align: center; /* Centre le texte pour les petits écrans */
    }

    .nav-container ul li {
        margin: 10px 0; /* Ajoute de l'espace entre les éléments de la liste pour les petits écrans */
    }
}


/* @media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
  
    
    .navbar .menu{
        display: block;
        
    }
    .nav-container{
       top: 0;
       left: 0;
       position: absolute;
       backdrop-filter: blur(8px);
       width: 100%;
       height: 100vh;
       justify-content: center;
       align-items: center;
    }
    .nav-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-container ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}  */