.tournois-container{
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    width: auto;
    margin: 20px; 
}
.tournoi-pic-tournoi {
    max-width: 100%;
    height: auto; 
  }
.nj_container {
    padding: 50px;
    background-color: white;
    border-radius: 22px;
  }
  
  .nj_icon {
    cursor: pointer;
  }
  
  .nj_title_input_container {
    max-width: 300px;
  }
  .nj_submit_btn {
    text-align: right;
  }

  .button {
    border-radius: 50px;
    font-weight: bold;
    width: 180px;
    height: 50px;
  }
/* .main_container_jeu{
    display: flex;
    flex-direction: column;
} */
